@charset "UTF-8";


/* form styling */

body {
      align-items: center;
      font: normal 20px
}


#wrapper {
	width: 60%;
	margin-left:4%;
}

div#formcol1 {
	float:left;	
	width: 100%;
}

label {
	margin-right: .3em;
	width: 5.8em;  
	display: inline-block;
	text-align: right;
}

#formcol1 li {   
	list-style:none;
	}

#formcol1 input.reqfield {
	backround:#FF9
}

select:focus, select:active, input:focus, input:active, input:focus + label, 
input:active + label, label[for]:focus, label[for]:active {
color: #FFF !important;
background-color: #BB3D2F !important;}




/* end of form css */
	

